.Flavan-container{
    width: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-left: 20%; 
  margin-right: 20%; 
  
  }
  .Flav-mean{
color: #55608f;
font-weight: 800;
  }