/* styles.css */

/* First set of styles */
body {
   
    margin: 0;
    background: rgba(12, 61, 220, 0.577);
    font-family: sans-serif;
    font-weight: 100;
  }
  
  
  .container{
    width: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-left: 20%; 
  margin-right: 20%;
  }
  table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
  }
  
  th,
  td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #ffffff;
  }
  
  th {
    text-align: left;
  }
  
  thead th {
    background-color: #55608f;
  }
  
  tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
  }
  
  td {
    position: relative;
  }
  
  td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
  }
  
  /* Second set of styles */

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
  
  /* Add the rest of the second set of styles here */
  